.wrapper
  .wrapper__section#top
    = image_tag "gazyumaru1.jpg",class: "background"
    = image_tag "couple.jpg", class: "background"
    = image_tag "couple2.jpg",class: "background"
  .wrapper__section
    .wrapper__section__top
      %h4 沖縄県指定事業者番号: 4770900902
    .wrapper__section__title
      = image_tag "logo.png", size: "150×200", class: "wrapper__section__title--image"
      .wrapper__section__title--text
        %h3 居宅介護支援事業所
        %h2 がゆまーる
    .wrapper__section__text
      %h3 「がゆまーる」は名護市のシンボル「がじゅまるの木」と、沖縄の方言で助け合いを意味 する「ゆいまーる」を組み合わせて名付けました。
      %br
      %h3 がじゅまるの木のように名護市に根付き、ゆいまーる精神で地域一丸となって高齢者を支えていけるような事業所でありたいとの思いが込めれられています。

  .wrapper__section#introduction
    .wrapper__section__content
      .wrapper__section__content--box
        .wrapper__section__content--box--left
          %h3 介護保険申請代行　ケアプラン作成
          %br
          %h3 介護サービス調整　介護サービス管理
          %br
          %h4 介護の悩みや困り事がありましたらいつでもご相談ください
          .wrapper__section__content--box--left__image
            = image_tag "logo2.png"
        .wrapper__section__content--box--right--image
          = image_tag "gazyumaru2.jpg", class: "background-half"
          = image_tag "bridge.jpg", class: "background-half"


